body {
  width: 100vw;
  background: rgb(92, 117, 152);
}

input {
  width: 395px;
  text-align: center;
  border: none;
  border-radius: 50px;
  padding: 5px;
}
input:focus {
  outline: none;
}
button {
  border: none;
  padding: 5px 16px;
  border-radius: 10px;
}
button:focus {
  outline: none;
}
button:hover {
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.25);
}
button:active {
  box-shadow: 0 1px rgba(0, 0, 0, 0.25);
  transform: translateY(2px);
}

#logoSm {
  width: 192px;
  height: 174.4px;
  position: relative;
  top: -160px;
  left: -96px;
}

#input_search {
  position: relative;
  top: -85px;
  left: -197.5px;
}

#logo-search {
  position: absolute;
  top: 50vh;
  left: 50vw;
}

@media screen and (max-width: 945px) {
  input {
    width: 216px;
    text-align: center;
    border: none;
    border-radius: 50px;
    padding: 5px;
  }
  #logoSm {
  width: 148.5px;
  height: 135px;
  position: relative;
  top: -160px;
  left: -74.25px;
}

#input_search {
  position: relative;
  top: -85px;
  left: -108px;
}
}

@media screen and (max-width: 587px) {
  input {
    width: 150px;
    text-align: center;
    border: none;
    border-radius: 50px;
    padding: 5px;
  }
  button {
  width: 45px;
  border: none;
  padding: 7px;
  border-radius: 10px;
  font-size: 11px;
  
}
  #logoSm {
  width: 132px;
  height: 120px;
  position: relative;
  top: -160px;
  left: -70px;
}

#input_search {
  position: relative;
  top: -105px;
  left: -75px;
}
}

@media screen and (max-width: 400px) {
  input {
    width: 135px;
    text-align: center;
    border: none;
    border-radius: 50px;
    padding: 5px;
  }
  button {
  width: 40px;
  border: none;
  padding: 7px;
  border-radius: 10px;
  font-size: 10px;
  
}
  #logoSm {
  width: 99px;
  height: 90px;
  position: relative;
  top: -145px;
  left: -45px;
}

#input_search {
  position: relative;
  top: -105px;
  left: -67.5px;
}
}
